/*
    basic styles for ontraport form-integrity-check

*/

.form-integrity-check {

    box-shadow: 0 0 2em #3D3F40;
    background: rgba( 255, 255, 255, .85);
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: .15em .55em;
    color: #0C0C0D;
    z-index: 20000;
    position: absolute;
    
}

.form-integrity-check {
    min-width: 150px;
    max-width: 450px;
}
.form-integrity-check:hover {
    background: #fff;
    color: #000;
}


.form-integrity-check--target {
    opacity: .7;
    outline: 7px solid #F8FF75;
}