/*
    basic styles for ontraport form-integrity-check

*/

.form-integrity-check {
    position: absolute;
    top: 0px;
    z-index: 20000;

    background: rgba( 255, 255, 255, .85);
    box-shadow: 0 0 1em black;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: 1em;
    color: #0C0C0D;
}
.form-integrity-check--target {
    box-shadow: 0 0 1em red;
}


/* for "global" issue make sure they float at the top of the document */
body > .form-integrity-check {
    position: absolute;;
}